<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {{>links}}

    <title>Weather site</title>
</head>

<body>
  

  {{>navbar}}


    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid  main_content">

                    <form class="temp_form ">

                        <input type="text" id="cityName" placeholder="Enter you city name.." autocomplete="off">
                        <br>
                        <input type="submit" value="search" id="submitBtn">
                        <p id="temp_err"></p>
                    </form>

                    <div class="tempInformation  ">
                        <div class="top_layer">
                            <p id="day">Tuesday</p>
                            <p id="today_date">13 oct</p>
                        </div>
                        <div class="main_layer ">
                            <p id="city_name">Get output here </p>
                            <div class="middle_layer data_hide">
                                <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                                <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
   
   {{>footer}}

    <script src="js/main.js"></script>
    <script>
        const getCurrentDay = () => {
            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currentTime = new Date();
            let days = weekday[currentTime.getDay()];

            let day = document.getElementById("day");
            day.innerText = days;
        }
        
        getCurrentDay();

        const getCurrentTime = () => {
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            var now = new Date();
            var month = months[now.getMonth()];
            var date = now.getDate();

            let hours = now.getHours();
            let mins = now.getMinutes();
            let periods = "AM";

            if (hours > 12) {
                periods = "PM";

                if (hours > 12) hours -= 12;
                
            }
            else if(hours==0) hours = 12;


            if (mins < 10) {
                mins = "0" + mins;
            }

            let today = document.getElementById("today_date");
            today.innerText = `${date} ${month}`
        }

        getCurrentTime();
    </script>
</body>

</html